<div class="component-htmlcssjs">
    <div class="html-css-js">
        <div class="title">HTML CSS JavaScript</div>
        <div class="row">
            <!-- Start: Template Card -->
            <!-- <div class="card" data-tooltip="Sử dụng chuột để chơi">
            <div class="img"
                style="background-image: url('assets/img/games/Wack-a-Mole.PNG'); background-size: cover, contain; background-position: center center;">
            </div>
            <div class="sub-title">Trò Chơi Đập Chuột</div>
            <div class="bottom">
                <div class="repo"><a
                        href="https://github.com/kitajima2910/PXH2910/tree/master/games/Whack-a-Mole"
                        target="_blank">Github
                        Repo</a></div>
                <div class="demo"><a href="games/Whack-a-Mole/index.html" target="_blank">Live</a></div>
            </div>
        </div> -->
            <!-- End: Template Card -->
        </div>
    </div>
</div>