body {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.wall {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
}

.ball {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: blue;
    transition: transform .25s;
}