body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: url("../img/super-mario-background.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

#board {
    width: 660px;
    height: 660px;
    /* background-color: green; */

    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;

    background: url("../img/soil.jpg");
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    border: 3px solid white;
    -webkit-border-radius: 25px;
       -moz-border-radius: 25px;
            border-radius: 25px;
}

#board div {
    /* board 3x3 có width x heigh <=> 540px x 540px, thì div mỗi cái là 540 / 3  = 180px  */
    width: 220px;
    height: 220px;
    background-image: url("../img/pipe.png");
    -webkit-background-size: 50px 50px;
       -moz-background-size: 50px;
         -o-background-size: 50px;
            background-size: 50px;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
}

#board div img {
    /* chỉnh ảnh con chuột nhỏ lại so với ống */
    width: 40px;
    height: 40px;
    /* border: 1px solid white; */

    position: absolute;
    top: 15%;
    left: 39%;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    cursor: pointer;
}