<!-- https://fontawesome.com/icons -->
<nav class="ss-menu">
    <ul>
        <li style="display: none;"><a href="javascript:;" data-href="Service" active="false"><i class="fa-brands fa-usps fa-beat-fade"></i>&nbsp;&nbsp; Dịch
                vụ</a></li>
        <li><a href="javascript:;" data-href="HTML5-CSS-JS" active="true"><i class="fa-solid fa-gamepad fa-beat-fade"></i>&nbsp;&nbsp;
                HTML5</a></li>
        <li style="display: none;"><a href="javascript:;" data-href="Contact" active="false"><i class="fa-regular fa-address-card fa-beat"></i>&nbsp;&nbsp;
                Contact</a></li>
    </ul>
</nav>